

<div style="display: flex; align-items: center; justify-content: space-between; padding: 10px 20px;">
  <H1 style="font-size: 26px; font-weight: 600">Summery</H1>
  <div style="position: relative;">
    <button  class="button-hover" style="color: #2a2a57; background-color: white; border: none; padding: 10px 20px; cursor: pointer; position: absolute; right: 0; top: 0;" (click)="logout()">
      <i style="font-size:20px" class="fa fa-power-off"></i>
    </button>
  </div>
</div>
<section>
  <article>
    <h2 style="font-size: 18px;text-align: center;">Active Gym Members</h2>
    <h1 style="font-size: 50px;text-align: center;font-weight: 600">4</h1>
  </article>
  <article>
    <h2 style="font-size: 18px;text-align: center;">Deactive Gym Members</h2>
    <p style="font-size: 50px;text-align: center;font-weight: 600; line-height: 0.8">50</p>
  </article>

  <article>
    <h2 style="font-size: 18px;text-align: center;">Active Trainers</h2>
    <h1 style="font-size: 50px;text-align: center;font-weight: 600">{{countTrainer}}</h1>
  </article>
</section>

