<div class="page-wrapper">
  <div class="content">
    <div class="page-header">
      <div class="page-title">
        <h2>ADD NEW MEMBER</h2>
        <h4>CREATE NEW GYM MEMBER</h4>
      </div>
<!--      <div *ngIf="isLoading" class="spinner-container">-->
<!--        <div class="spinner"></div>-->
<!--      </div>-->
    </div>
    <!-- /add -->
    <div class="card">
      <div class="card-body" style="margin-bottom: 15px;">
        <div class="row">
          <div class="col-lg-3 col-sm-6 col-12">
            <div class="form-group">
              <label>Name</label>
              <input type="text" id="name" [(ngModel)]="member.name" >
            </div>
          </div>
          <div class="col-lg-3 col-sm-6 col-12">
            <div class="form-group">
              <label>Gender</label>
              <select class="form-select" id="gender" [(ngModel)]="member.gender">
                <option>Male</option>
                <option>Female</option>
              </select>
            </div>
          </div>
          <div class="col-lg-3 col-sm-6 col-12">
            <div class="form-group">
              <label>Fitness Goal</label>
              <select class="form-select" id="goal"[(ngModel)]="member.fitness_goal">
                <option>Muscle Gain</option>
                <option>Weight Loss</option>
              </select>
            </div>
          </div>
          <div class="col-lg-3 col-sm-6 col-12">
            <div class="form-group">
              <label>Username</label>
              <input type="text" id="username" [(ngModel)]="member.username">
            </div>
          </div>
          <div class="col-lg-3 col-sm-6 col-12">
            <div class="form-group">
              <label>Password</label>
              <input type="password" id="password" [(ngModel)]="member.password">
            </div>
          </div>
          <div class="col-lg-3 col-sm-6 col-12">
            <div class="form-group">
              <label>Age</label>
              <input type="text" id="age"[(ngModel)]="member.age">
            </div>
          </div>
          <div class="col-lg-3 col-sm-6 col-12">
            <div class="form-group">
              <label>Phone</label>
              <input type="text" id="phone"[(ngModel)]="member.phone">
            </div>
          </div>

          <div class="col-lg-3 col-sm-6 col-12">
            <div class="form-group">
              <label>NIC</label>
              <input type="text" id="nic"[(ngModel)]="member.nic">
            </div>
          </div>
          <div class="col-lg-3 col-sm-6 col-12">
            <div class="form-group">
              <label>Height</label>
              <input type="text" id="height" [(ngModel)]="member.height" (input)="calculateBMI()" >
            </div>
          </div>
          <div class="col-lg-3 col-sm-6 col-12">
            <div class="form-group">
              <label>Weight</label>
              <input type="text" id="weight" [(ngModel)]="member.weight" (input)="calculateBMI()" >
            </div>
          </div>

          <div class="col-lg-3 col-sm-6 col-12">
            <div class="form-group">
              <label>BMI</label>
              <input type="text" id="bmi" [(ngModel)]="member.bmi" >
            </div>
          </div>
          <div class="col-lg-3 col-sm-6 col-12">
            <div class="form-group">
              <label>Workout Time(min)</label>
              <input type="text" id="time" [(ngModel)]="member.workout_time">
            </div>
          </div>
          <div class="col-lg-3 col-sm-6 col-12">
            <div class="form-group">
              <label>Workout Experience(years)</label>
              <input type="text" id="experiance" [(ngModel)]="member.workout_experience">
            </div>
          </div>

          <div class="col-lg-3 col-sm-6 col-12">
            <div class="form-group">
              <label>Workout Schedule</label>
              <input type="text" id="schedule" value="{{schedule_ex}}">
            </div>
          </div>

          <div class="col-lg-12">
            <button (click)="saveMember()" class="btn btn-submit me-2">Submit</button>
            <button [disabled]="isScheduleButtonDisabled" (click)="getScheduleAI()" class="btn btn-submit me-2" style="background-color: #0d8120">Get Schedule</button>
            <button (click)="navigateToDashboard()" class="btn btn-cancel me-2">Cancel</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
